<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Reservations Revenues</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">
</head>

<body>
<div th:replace="fragments/nav-bar"/>
<div class="container my-5">
    <table class="table table-bordered">
        <td>
            <table class="table table">
                <thead>
                <h2>Reservation Revenues</h2>
                <tr>
                    <th>No.</th>
                    <th>Value</th>
                    <th>Is Active</th>
                    <th>Is Realised</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="rev : ${revenues}">
                    <td th:text="${rev.id}"></td>
                    <td th:text="${rev.reservationValue}"></td>
                    <td>
                        <span th:if="${rev.cancelled} == false">ACTIVE</span>
                        <span th:if="${rev.cancelled} == true">CANCELLED</span>
                    </td>
                    <td>
                        <span th:if="${rev.realised} == true">REALISED</span>
                        <span th:if="${rev.realised} == false">NOT REALISED</span>
                    </td>
                </tr>
                </tbody>
            </table>
            <table>
                <span>Page :&nbsp;&nbsp;</span>
                <tr th:if="${revenues.totalPages > 0}" class="pagination"
                    th:each="pageNumber : ${pageNumbers}">
                    <a th:href="@{/api/revenues/reservation(size=${revenues.size}, page=${pageNumber})}"
                       th:text="${pageNumber}"
                       th:class="${pageNumber == revenues.number + 1} ? active"></a>
                    <span>&nbsp;&nbsp;</span>
                </tr>
            </table>
        </td>
        <td>
            <table class="table table-bordered">

                <thead>
                <tr>
                    <th><h4>Summary</h4></th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Reservation Revenues:</td>
                    <td th:text="${reservationSum}"></td>
                </tr>
                <tr>
                    <td>Cancelled Reservation Revenues:</td>
                    <td th:text="${reservationSumCancelled}"></td>
                </tr>
                <tr>
                    <td>Active Reservation Revenues:</td>
                    <td th:text="${reservationSumActive}"></td>
                </tr>
                <tr>
                    <td>All Revenues:</td>
                    <td th:text="${sum}"></td>
                </tr>
                </tbody>
            </table>
        </td>
    </table>
</div>
<div th:replace="fragments/footer"/>
</body>

</html>