<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

    <title>Login</title>
</head>
<body>
<div class="login-page">

    <div th:if="${param.error}">
        <div class="alert alert-danger alert-dismissible">
            <a href="/" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            Invalid username or password.
        </div>
    </div>

    <div th:if="${param.logout}">
        <div class="alert alert-info alert-dismissible">
            <a href="/" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            You have been logged out.
        </div>
    </div>

    <div th:if="${param.success}">
        <div class="alert alert-success alert-dismissible">
            <a href="/" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            You've successfully registered to Car rental app!
        </div>
    </div>

    <div th:if="${param.exists}">
        <div class="alert alert-danger alert-dismissible">
            <a href="/" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            There is already an account registered with that username.
        </div>
    </div>

    <div th:if="${param.incorrect}">
        <div class="alert alert-danger alert-dismissible">
            <a href="/" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            Incorrect email. Please try to register again with valid email.
        </div>
    </div>


    <div class="form">
        <form class="register-form" th:action="@{/registration}" th:object="${user}" method="post">
            <input type="text" placeholder="username" th:field="*{username}"/>
            <input type="password" placeholder="password" th:field="*{password}"/>
            <input type="text" placeholder="email address" th:field="*{email}"/>
            <button type="submit">create</button>
            <p class="message">Already registered? <a href="#">Sign In</a></p>
        </form>
        <form class="login-form" th:action="@{/login}" method="post">
            <input type="text" placeholder="username" name="username"/>
            <input type="password" placeholder="password" name="password"/>
            <button type="submit">login</button>
            <p class="message">Not registered? <a href="#">Create an account</a></p>
        </form>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script id="rendered-js" data="__CP_INLINE_JS__">
  $('.message a').click(function () {
  $('form').animate({ height: "toggle", opacity: "toggle" }, "slow");
  });
  //# sourceURL=pen.js
</script>

</body>
</html>