<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>All unavailable</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">
</head>

<body>

<div th:replace="fragments/nav-bar"></div>

<div class="container my-5">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Car</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="unavailable : ${unavailables}">
            <td class="align-middle" th:text="${unavailable.car.make + ' ' + unavailable.car.model}"></td>
            <td class="align-middle" th:text="${#temporals.format(unavailable.startDate,'dd-MM-yyyy HH:mm')}"></td>
            <td class="align-middle" th:text="${#temporals.format(unavailable.endDate,'dd-MM-yyyy HH:mm')}"></td>
            <td class="align-middle"><a th:href="@{/api/unavailable/delete/{id}(id=${unavailable.id})}" class="btn"><i
                    class="fas fa-trash-alt"></i></a></td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Navigation address">
        <ul class="pagination">
            <li class="page-item" th:if="${totalNumberOfPages > 0}"
                th:each="page : ${numbersList}">
                <a class="page-link" th:href="@{/api/unavailable/all(page=${page})}"
                   th:text="${page}"></a>
            </li>
        </ul>
    </nav>
</div>
<div th:replace="fragments/footer"></div>
</body>

</html>