<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Addresses</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">
</head>

<body>
<div th:replace="fragments/nav-bar"></div>
<div class="container my-5">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>City</th>
            <th>Postal code</th>
            <th>Street</th>
            <th>House number</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="address : ${addresses}">
            <td th:text="${address.city}"></td>
            <td th:text="${address.postalCode}"></td>
            <td th:text="${address.street}"></td>
            <td th:text="${address.houseNumber}"></td>
            <td><a th:href="@{/api/addresses/edit/{id}(id=${address.id})}" method="get" class="btn"><i
                    class="fas fa-edit"></i></a></td>
            <td><a th:href="@{/api/addresses/delete/{id}(id=${address.id})}" method="post" class="btn"><i
                    class="fas fa-trash-alt"></i></a></td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Navigation address">
        <ul class="pagination">
            <li class="page-item" th:if="${totalNumberOfPages > 0}"
                th:each="page : ${numbersList}">
                <a class="page-link" th:href="@{/api/addresses(page=${page})}"
                   th:text="${page}"></a>
            </li>
        </ul>
    </nav>
</div>
<div th:replace="fragments/footer"></div>
</body>

</html>