<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Rentals</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">
</head>

<body>
<div th:replace="fragments/nav-bar"/>
<div class="container my-5">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>No</th>
            <th>Creation date</th>
            <th>End of rental date</th>
            <th>Employee</th>
            <th>Additional Info</th>
            <th>Is Returned</th>
            <th>Return Car</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="rental : ${rentals}">
            <td class="align-middle" th:text="${rental.id}"></td>
            <td class="align-middle" th:text="${#temporals.format(rental.rentalDate,'dd-MM-yyyy HH:mm')}"></td>
            <td class="align-middle" th:text="${#temporals.format(rental.reservation.rentalEndDate,'dd-MM-yyyy HH:mm')}"></td>
            <td class="align-middle" th:text="${rental.employee}"></td>
            <td class="align-middle" th:text="${rental.additionalInfo}"></td>
            <td>
                <span th:if="${rental.returned} == true">RETURNED</span>
                <span th:if="${rental.returned} == false">NOT RETURNED</span>
            </td>
            <td class="align-middle" ><a th:href="@{/api/returns/{id}(id=${rental.id})}" th:method="post" class="btn"><i
                class="fas fa-undo"></i></a>
            </td>

        </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/footer"/>
</body>

</html>