<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <title>Navigation Bar</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/api/cars">Car list</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCars" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Cars
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/api/cars/add-car">Add car</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/api/cars/status">Check status at date</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/api/unavailable/add">Add unavailable</a>
                    <a class="dropdown-item" href="/api/unavailable/all">Show unavailable</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownRentals" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Rentals
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/api/reservations/create">Create reservation</a>
                    <a class="dropdown-item" href="/api/reservations/">Reservations</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/api/rentals">Rentals</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/api/returns">Returns</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownDepartments" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Departments
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/api/departments/">Manage departments</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/api/departments/add/">Add new department</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAddresses" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Addresses
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/api/addresses">Address List</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/api/addresses/add">Add New Address</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownRevenues" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Statistics
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/api/revenues/">Revenues</a>
                </div>
            </li>


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="profile" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span th:text="${#authentication.getPrincipal().getUsername()}"></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/users/profile">Edit profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout">Sign out</a>
                </div>
            </li>

            <li class="nav-item dropdown" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                <a class="nav-link dropdown-toggle" href="#" id="admin" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span>Administrator Panel</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/employee/all">List of employees</a>
                    <a class="dropdown-item" href="/employee/add">Add employee</a>
                    <a class="dropdown-item" href="/employee/edit">Edit employees</a>
                </div>
            </li>
        </ul>

        <form th:action="@{'/api/cars/search'}" class="form-inline my-2 my-lg-0" method="get">
            <input class="form-control mr-sm-2" type="text" placeholder="Input car make" aria-label="Search"
                   datafld="make" name="make"/>
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
</body>
</html>