<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Car status</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">
</head>

<body>
<div th:replace="fragments/nav-bar"></div>

<div class="container my-3">
    <form class="form-inline" method="get">
        <div class="input-group mb-3">
            <input type="datetime-local" class="form-control" aria-describedby="basic-addon2" id="searchDate"
                   name="searchDate">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Search</button>
            </div>
        </div>
    </form>

    <div th:if="${param.searchDate}">
        Car status at: <span class="font-weight-bold" th:text="${param.searchDate[0]}"></span>
    </div>

    <div class="container my-5">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Make</th>
                <th>Model</th>
                <th>Car type</th>
                <th>Production year</th>
                <th>Car color</th>
                <th>Mileage</th>
                <th>Rental status</th>
                <th>Price per day</th>
                <th>Department</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="car : ${cars}">
                <td class="align-middle" th:text="${car.make}"></td>
                <td class="align-middle" th:text="${car.model}"></td>
                <td class="align-middle" th:text="${car.carType}"></td>
                <td class="align-middle" th:text="${car.productionYear}"></td>
                <td class="align-middle" th:text="${car.carColor}"></td>
                <td class="align-middle" th:text="${car.mileage}"></td>
                <td class="align-middle" th:text="${car.rentalStatus}"></td>
                <td class="align-middle" th:text="${car.pricePerDay}"></td>
                <th class="align-middle" th:text="${car.department}"></th>
            </tr>
            </tbody>
        </table>


    </div>
    <div th:replace="fragments/footer"/>
</body>

</html>