<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Update Car</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>

<body>
<div th:replace="fragments/nav-bar"/>
<div class="container my-5">
    <h3> Update car</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" th:action="@{'/api/cars/edit/'} + ${car.id}" th:object="${car}" th:method="post">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="make" class="col-form-label">Make</label>
                            <input type="text" th:field="*{make}" class="form-control" id="make">
                            <span th:if="${#fields.hasErrors('make')}" th:errors="*{make}" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="model" class="col-form-label">Model</label>
                            <input type="text" th:field="*{model}" class="form-control" id="model">
                            <span th:if="${#fields.hasErrors('model')}" th:errors="*{model}" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="carType" class="col-form-label">Car type</label>
                            <select th:field="*{carType}" class="form-control" id="carType">
                                <option th:each="c : ${T(pl.fudala.mateusz.rental.model.enums.CarType).values()}"
                                        th:value="${c}" th:text="${c.description}"></option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="productionYear" class="col-form-label">Production year</label> <input
                                type="number" th:field="*{productionYear}" class="form-control" id="productionYear">
                            <span th:if="${#fields.hasErrors('productionYear')}" th:errors="*{productionYear}"
                                  class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="carColor" class="col-form-label">Car color</label>
                            <input type="text" th:field="*{carColor}" class="form-control" id="carColor">
                            <span th:if="${#fields.hasErrors('carColor')}" th:errors="*{carColor}"
                                  class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="mileage" class="col-form-label">Mileage</label>
                            <input type="text" th:field="*{mileage}" class="form-control" id="mileage">
                            <span th:if="${#fields.hasErrors('mileage')}" th:errors="*{mileage}"
                                  class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="rentalStatus" class="col-form-label">Rental status</label>
                            <select th:field="*{rentalStatus}" class="form-control" id="rentalStatus">
                                <option th:each="c : ${T(pl.fudala.mateusz.rental.model.enums.CarRentalStatus).values()}"
                                        th:value="${c}" th:text="${c.description}"></option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="pricePerDay" class="col-form-label">Price per day</label>
                            <input type="text" th:field="*{pricePerDay}" class="form-control" id="pricePerDay">
                            <span th:if="${#fields.hasErrors('pricePerDay')}" th:errors="*{pricePerDay}"
                                  class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-4">
                            <label for="department" class="col-form-label">Department</label>
                            <select th:field="*{department}" class="form-control" id="department">
                                <option th:each="department : ${departments}"
                                        th:value="${department.id}" th:text="${department.toString()}"></option>
                            </select>
                        </div>

                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" value="Update car">
                        </div>

                        <div class="form-group col-md-8"></div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer"/>
</body>