<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Update Department</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>

<body>
<div th:replace="fragments/nav-bar"/>
<div class="container my-5">
    <h3> Update Department</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" th:action="@{'/api/departments/edit/'} + ${department.id}" th:object="${department}"  th:method="post">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="departmentName" class="col-form-label">Department name</label>
                            <input type="text" th:field="*{departmentName}" class="form-control" id="departmentName">
                            <span th:if="${#fields.hasErrors('departmentName')}" th:errors="*{departmentName}" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-8">
                            <label for="address" class="col-form-label">Address</label>
                            <select th:field="*{address}" class="form-control" id="address">

                                <option th:each="address : ${addresses}"
                                        th:value="${address.id}" th:text="${address.toString()}"></option>
                            </select>
                        </div>

                        <div class="form-group col-md-8">
                            <select th:field="*{cars}" class="form-control" multiple>
                                <option th:each="car : ${cars}"
                                        th:value="${car.id}"
                                        th:text="${car.toString()}">
                                </option>
                            </select>
                        </div>

                    </div>
                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" value="Edit department">
                        </div>

                        <div class="form-group col-md-8"></div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer"/>
</body>
</html>